{{#if layoutVM.isLogged}}
<div class="page-head">
    <div class="container">
        <h3>Check Out</h3>
    </div>
</div>
<!-- //banner -->
<!-- check out -->
<div class="checkout">
    <div class="container">
        <h3>My Shopping Bag</h3>
        <div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>Mặt hàng</th>
                        <th>Tên mặt hàng</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Thành Tiền</th>
                        <th>Xóa bỏ</th>
                    </tr>
                </thead>

                </tr>
                {{#each items}}
                <tr class="rem2">
                    <td class="invert-image">
                        <a href="/detail/{{product.Masp}}">
                            <img src="/images/{{product.Anh}}/0.jpg" alt=" " class="img-responsive" />
                        </a>
                    </td>

                    <td class="invert">{{product.Ten}}</td>
                    <td class="invert">
                        <div class="quantity">
                            <div class="quantity-select">

                                <form name="frrms" method="post" action="/cart/add">
                                    <input name="proId" type="hidden" value="{{product.Masp}}">
                                    <input id="txtQ" name="quantity" type="hidden" class="form-control" value="-1">
                                    <button type="submit" class="btn btn-warning">-</button>
                                </form>

                                <div class="entry value">
                                    <span>{{Quantity}}</span>
                                </div>
                                <form name="frrm" method="post" action="/cart/add">
                                    <input name="proId" type="hidden" value="{{product.Masp}}">
                                    <input id="txtQ" name="quantity" type="hidden" class="form-control" value="1">
                                    <button type="submit" class="btn btn-warning">+</button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td class="invert">{{product.Gia}}</td>
                    <td class="invert">{{Amount}}</td>
                    <td class="invert-closeb">
                        <form name="frmrm" method="post" action="/cart/remove">
                            <input value="{{product.Masp}}" name="ProID" type="hidden">
                            <div class="rem">
                                <button type="submit" class="col-md-1 btn btn-large btn-block btn-danger">
                                    <div>
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </div>
                                </button>
                            </div>
                        </form>
                    </td>
                    {{/each}}
            </table>
        </div>
        <br>

        <div class="checkout-left">

            <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
                <h4>Shopping basket</h4>
                <ul>
                    {{#each items}}
                    <li>{{product.Ten}} &nbsp;
                        <i>-</i>
                        <span>{{Amount}}</span>
                    </li>
                    {{/each}}
                    <li>
                        <b>Tổng: </b>&nbsp;
                        <i>-</i>
                        <span>
                            <b>{{sum}}</b>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <br>
            <div style="float:right">
                <button onclick="window.location.href='/cart/billpay'" type="button" class="btn btn-warning">
                    <h4>Thanh Toán</h4>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}