 {{#with catetitle}}
<div class="page-head">
    <div class="container">
        <h3>Sản Phẩm</h3>
    </div>
</div>
{{/with}}
<div class="men-wear">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="css-treeview">
                <h4>Categories</h4>
                <ul class="tree-list-pad">
                    <li>
                        <input type="checkbox" checked="checked" id="item-0" />
                        <ul>
                            {{#each protype}}
                            <li>
                                <input type="checkbox" />
                                <label onclick="window.location.href='/product/{{Loai}}'" for="item-0-2">{{Loai}}</label>
                            </li>
                            {{/each}}

                        </ul>
                    </li>
                    <li>
                        <input type="checkbox" id="item-1" checked="checked" />
                        <label for="item-1">Nhà Sản Xuất</label>
                        <ul>
                            {{#each produ}}
                            <li>
                                <input type="checkbox" />
                                <label onclick="window.location.href='/product/{{Nhasx}}'" for="item-0-2">{{Nhasx}}</label>
                            </li>
                            {{/each}}

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 products-right">
            <div class="col-md-12">
                <form class="form-inline" method="post" action="">
                    <div class="col-md-2">Lọc</div>
                    <div class="col-md-3">
                        <span> Từ
                            <input type="number" name="giaduoi">
                        </span>
                    </div>
                    <div class="col-md-3">
                        <span>
                            Đến &nbsp;
                            <input type="number" name="giatren">
                        </span>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-warning">Tìm Kiếm</button>
                    </div>
                </form>
            </div>
            <br>
            {{#each catefor}}
            <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img src="/images/{{Anh}}/1.jpg" alt="" class="pro-image-front" width="100dp" height="200dp">
                        <img src="/images/{{Anh}}/2.jpg" alt="" class="pro-image-back" width="100dp" height="200dp">
                        <span class="product-new-top">New</span>
                    </div>
                    <div class="item-info-product ">
                        <h4>
                            <a href="/detail/{{Masp}}">{{Ten}}</a>
                        </h4>
                        <div class="info-product-price">
                            <span class="item_price">{{Gia}} VNĐ</span>
                        </div>
                        <form class="form-horizontal" id="frmAddItem" method="post" action="/cart/add">
                            <div class="form-group">
                                <div class="col-sm-4" style="margin-left:60px;">
                                    <input name="proId" type="hidden" value="{{Masp}}">
                                    <input id="txtQ" name="quantity" type="hidden" class="form-control" value="1">
                                    <button class="btn btn-primary" type="submit">
                                        <a class="item_add single-item hvr-outline-out button2">Add to cart</a>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <ul class="pagination" style="float:right">
            <li>
                <a href="?page=1">&laquo;</a>
            </li>
            {{#each page_numbers}} {{#if isCurrentPage}}
            <li class="active">
                <a href="javascript:;">{{value}}</a>
            </li>
            {{else}}
            <li>
                <a href="?page={{value}}">{{value}}</a>
            </li>
            {{/if}} {{/each}}
            <li>
                <a href="?page={{numpage}}">&raquo;</a>
            </li>
        </ul>
    </div>