{{#section 'title'}}Search Result{{/section}} {{#if nopro}}
<div style="font-weight:800;text-align:center;margin-top:50px;color:brown">
    <h1>Không có sản phẩm thoả yêu cầu</h1>
</div>
{{else}}
<div class="panel panel-primary">
    <div class="panel-heading ">
        <h3 class="panel-title" style="text-align: center;font-size:30px">KẾT QUẢ TÌM KIẾM</h3>
    </div>
</div>
<div class="row">
    {{#each products}}
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="images/{{Anh}}/1.jpg" alt="" class="pro-image-front" width="100dp" height="200dp">
                <img src="images/{{Anh}}/2.jpg" alt="" class="pro-image-back" width="100dp" height="200dp">
            </div>
            <div class="item-info-product ">
                <h4>
                    <a href="detail/{{Masp}}">{{Ten}}</a>
                </h4>
                <div class="info-product-price">
                    <span class="item_price">{{Gia}} VNĐ</span>
                </div>
                <form class="form-horizontal" id="frmAddItem" method="post" action="/cart/add">
                    <div class="form-group">
                        <div class="col-sm-4" style="margin-left:60px;">
                            <input name="proId" type="hidden" value="{{Masp}}">
                            <input id="txtQ" name="quantity" type="hidden" class="form-control" value="1">
                            <button class="btn btn-primary" type="submit">
                                <a class="item_add single-item hvr-outline-out button2">Add to cart</a>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    {{/each}}
</div>
{{/if}}